body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	font-size: 100%;
	font: inherit;
	border: 0;
}